.top-brands {
  padding: 30px 0px;
}

.top-brands-cover {
  height: 150px;
  width: 150px;
  background-color: var(--primary-bg);
  box-shadow: var(--collection-shadow);
  border-radius: 50%;
}

.top-brands-img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.top-brands-title {
  font-size: 18px;
  font-weight: 500;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-top: 12px;
  width: 150px;
  text-align: center;
}

.top-brands-time {
  font-size: 14px;
  font-weight: 500;
  overflow: hidden;
  margin-top: 6px;
  width: 150px;
  text-align: center;
}
