@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@import "./styles/commonClasses.css";
@import "./styles/variables.css";

body {
  margin: 0;
  font-family: "Nunito", sans-serif;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
